$gray: #cbcbcb;
$blue: #464ced;
$red: #f00;

body {
  padding-top: 1rem;
  font-size: 16px;
}

header {

  z-index: 100;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;

  $progress-bar-height: 1rem;

  .progress-bar {

    height: $progress-bar-height;
    background: $gray;

    .bar-progress {
      position: absolute;
      top: 0px;
      left: 0px;
      height: 100%;
      background: $blue;
    }

  }

  .status-control,
  .attribution {
    position: absolute;
    top: $progress-bar-height;
  }

  .status-control {
    left: 0px;
  }

  .attribution {
    right: 0px;
    padding: 0.25rem;
  }

}

.comments-list {

  position: relative;
  min-height: 500px;

  .comments-progress {
    position: absolute;
    left: 0px;
    width: 10px;
    height: 2px;
    background: $red;
  }

  .comment {
    z-index: 1;
    position: absolute;
  }

}
