$black: #000;
$white: #fff;
$gray: #cbcbcb;
$blue: #464ced;
$red: #f00;

body {
  padding-top: 1rem;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 500;
}

a {

  &,
  &:visited {
    color: lighten($black, 50);
  }

}

.wrapper {
  z-index: 0;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: hidden;
  background: {
    size: cover;
    repeat: no-repeat;
    position: center center;
  }
}

.image-overlay {
  z-index: 1;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: transparentize($white, 0.25);
}

header {

  z-index: 100;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 2.75rem;
  background: transparentize($white, .1);

  $progress-bar-height: 1rem;

  .progress-bar {

    height: $progress-bar-height;
    background: $gray;

    .bar-progress {
      position: absolute;
      top: 0px;
      left: 0px;
      height: $progress-bar-height;
      background: $blue;
    }

  }

  .status-control,
  .attribution,
  .track-title {
    position: absolute;
    top: $progress-bar-height;
    padding: 0.25rem;
  }

  .track-title {
    left: 4rem;
  }

  .attribution {
    right: 0px;
  }

}

.status-control {

  -webkit-appearance: none;
  left: 1.5rem;
  margin-top: 0.125rem;
  background: none;
  border: 0;
  outline: none;

  .fa-pause {
    display: none;
  }

  .fa-play {
    display: block;
  }

  &.playing {

    .fa-pause {
      display: block;
    }

    .fa-play {
      display: none;
    }

  }

}

.comments-list {

  z-index: 99;
  position: relative;
  min-height: 30rem;

  padding: 0px 1.5rem;

  .comments-progress {
    z-index: 999;
    position: absolute;
    left: 0px;
    width: 1.5rem;
    height: 1.5rem;
    background: $red;
  }

  .comment {
    z-index: 1;
    position: absolute;
    padding-left: 2.75rem;
    font-size: 1.5rem;
    line-height: 1.5;
  }

  .avatar {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 2.25rem;
  }

}
