$gray: #cbcbcb;
$blue: #464ced;
$red: #f00;

body {
  padding-top: 1rem;
  font-size: 16px;
}

header {

  z-index: 100;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;

  $progress-bar-height: 1rem;

  .progress-bar {

    height: $progress-bar-height;
    background: $gray;

    .bar-progress {
      position: absolute;
      top: 0px;
      left: 0px;
      height: 100%;
      background: $blue;
    }

  }

  .status-control,
  .attribution {
    position: absolute;
    top: $progress-bar-height;
  }

  .status-control {
    left: 0px;
  }

  .attribution {
    right: 0px;
    padding: 0.25rem;
  }

}

.comments-list {

  position: relative;
  min-height: 30rem;

  padding: 0px 1.5rem;

  .comments-progress {
    z-index: 999;
    position: absolute;
    left: 0px;
    width: 1.5rem;
    height:1.5rem;
    background: $red;
  }

  .comment {
    z-index: 1;
    position: absolute;
    padding-left: 2.75rem;
    font-size: 1.5rem;
    line-height: 1.5;
  }

  .avatar {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 2.25rem;
  }

}
