$black: #000;
$white: #fff;
$gray: #cbcbcb;
$blue: #464ced;
$red: #f00;

body {
  padding-top: 1rem;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.hide {
  display: none;
}

a {

  &,
  &:visited {
    color: lighten($black, 50);
  }

}

.wrapper,
.image-bg-wrap,
.image-overlay {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.wrapper {
  z-index: 0;
  overflow: hidden;
}

.image-bg-wrap {
  z-index: 1;
  background: {
    size: cover;
    repeat: no-repeat;
    position: center center;
  }
  filter: blur(0.75rem);
}

.image-overlay {
  z-index: 2;
  background: transparentize($white, 0.25);
}

header {

  z-index: 100;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 2.75rem;
  background: transparentize($white, .1);

  $progress-bar-height: 1rem;

  .progress-bar {

    height: $progress-bar-height;
    background: $gray;

    .bar-progress {
      position: absolute;
      top: 0px;
      left: 0px;
      height: $progress-bar-height;
      background: $blue;
    }

  }

  .controls {

  }

  .controls,
  .attribution,
  .track-title {
    position: absolute;
    top: $progress-bar-height;
    padding: 0.25rem;
  }

  .track-title {
    left: 6rem;
  }

  .attribution {
    right: 0px;
  }

}

.controls {

  left: 1.5rem;
  margin-top: 0.125rem;
  width: 4rem;

  .search-toggle,
  .status-control {
    display: inline-block;
    vertical-align: middle;
  }

  .search-toggle {
    vertical-align: top;
    cursor: pointer;
  }

}

.status-control {

  -webkit-appearance: none;
  background: none;
  border: 0;
  outline: none;

  .fa-pause {
    display: none;
  }

  .fa-play {
    display: block;
  }

  &.playing {

    .fa-pause {
      display: block;
    }

    .fa-play {
      display: none;
    }

  }

}

.search-wrap {

  z-index: 9999;
  position: fixed;
  top: 4rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem;
  background: $white;
  box-shadow: 0px 0px 0.5rem 0.125rem transparentize($black, 0.75);
  border-radius: 0.25em;

  input {
    padding: 0.25rem;
    font-size: 2rem;
    text-align: center;
    border: 0;
    outline: 0;
  }

  .search-results {

    margin: 0px auto;
    max-width: 300px;

    &.filled {
      padding-top: .5rem;
      border-top: 1px solid $black;
    }

  }

  .search-track {

    position: relative;
    margin: 0.5rem 0px;
    min-height: 4rem;

    img {
      z-index: 1;
      position: absolute;
      top: 0px;
      left: 0px;
      height: 4rem;
    }

    .meta {
      padding-left: 4.5rem;
    }

    &:hover {

      background: $gray;
      cursor: pointer;

      &:before {
        content: '\f04b';
        z-index: 99;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 4rem;
        color: $white;
        background: transparentize($black, 0.5);
        font-family: 'FontAwesome';
        font-size: 2.5rem;
        line-height: 4rem;
        text-align: center;
      }

    }

  }

}

.comments-list {

  z-index: 99;
  position: relative;
  min-height: 30rem;

  padding: 0px 1.5rem;

  .comments-progress {
    z-index: 999;
    position: absolute;
    left: 0px;
    width: 1.5rem;
    height: 1.5rem;
    background: $red;
  }

  .comment {
    z-index: 1;
    position: absolute;
    padding-left: 2.75rem;
    font-size: 1.5rem;
    line-height: 1.5;
  }

  .avatar {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 2.25rem;
  }

}
